.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rosybrown;
}
.ul{
    display: flex;
    gap: 2rem;

}
.main{
    background-color: blue;
}